movies-corner-spring-hibernate-server/MoviesCorner/build/
movies-corner-spring-hibernate-server/MoviesCorner/dist/
movies-corner-spring-hibernate-server/MoviesCorner/nbproject/private/
movies-corner-spring-hibernate-server/MoviesCorner/nbproject/private.properties
movies-corner-react-redux-client/node_modules/
movies-corner-react-redux-client/yarn.lock