.link:hover {
    text-decoration: none;
    border-bottom: 3px solid #fff;
}

.active {
    border-bottom: 3px solid #fff;
}

.nav-link {
    padding-left: 0px;
    padding-right: 0px;
}

.card-link:hover {
    text-decoration: none;
}